# Active profile
SPRING_PROFILES_ACTIVE=

#Server
PORT=

# Frontend
FRONTEND_URL=

# Postgresql Database
DB_URL=

#JWT
JWT_SECRET=
JWT_ACCESS_COOKIE_EXPIRATION=
JWT_REFRESH_COOKIE_EXPIRATION=
JWT_TEMP_COOKIE_EXPIRATION=

#OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

#twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=

#gemini
GEMINI_API_KEY=